@use "../../assets/scss/" as *;

// .landingpg{
//     background-image: "../../assets/images/Header BG.png";
// }

// Content 1 
.landingpg .landingpg-content-1{
    padding: 100px 200px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    box-sizing:border-box;
    background-color: azure;
}

.landingpg .landingpg-content-1 .search-btn{
    background-color: #064E89;
    color: white;
    width:112px;
    height:42px;
    border-radius:5px;
    font-weight:600;
    font-size:16px;
    border-style: none;
    cursor:pointer;
}


.landingpg p{
    padding:0px 50px;
    font-size:26px;
    font-weight:bold;
}


// Content 2
.landingpg .landingpg-content-2 {
    padding:10px 50px;
    box-sizing:border-box;
    display: flex;
    justify-content: center;
}

.landingpg .landingpg-content-2 .landingpg-big-box{
    background-color: #064E89;
    border-radius:5px;
    box-sizing:border-box;
    width:1147px;
    height:129px;
    padding:0px 60px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.landingpg .landingpg-content-2 p{
    color:white;
    font-size:24px;
}

.landingpg .landingpg-content-2 .box{
    background-color: white;
    width:280px;
    height:104px;
    border-radius:15px;
}